.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0!important;
}
.slick-track {
    position: relative;
    justify-content: center;
    display: flex;
}
.slick-slide {
    display: none;
    text-align: center;
}
.slick-initialized .slick-slide {
    display: block;
}
button.slick-arrow {
    width: 44px;
    height: 12px;
    border: none;
    text-indent: -9999px;
    bottom: -4.5rem;
    right: 0;
    position: absolute;
    z-index: 99999;
    display: flex;
    justify-content: center;
    background: transparent;
}
button.slick-next.slick-arrow {
    right: -70px;
    left: 0;
    margin: 0 auto;
}
button.slick-next.slick-arrow:before,
button.slick-prev.slick-arrow:before {
    background: url(../images/slider-arrow-pink.svg);
    position: absolute;
    content: '';
    width: 44px;
    height: 11px;
/*    background-size: cover;*/
    background-repeat: no-repeat;

}

button.slick-next.slick-arrow.slick-disabled:before,
button.slick-prev.slick-arrow.slick-disabled:before {
    background: url(../images/slider-arrow.svg) !important;
    background-repeat: no-repeat !important;
}

button.slick-next.slick-arrow.slick-disabled:before  {
    transform: rotate(180deg);
    left: -3px;
}
button.slick-prev.slick-arrow:before  {
    transform: rotate(180deg);
}
button.slick-prev.slick-arrow.slick-disabled:before  {
    transform: rotate(0deg);
    left: 3px;
}
button.slick-prev.slick-arrow {
    left: -70px;
    right: 0;
    margin: 0 auto;
}
ul.slick-dots li button {
    text-indent: -9999px;
    width: 28px;
    height: 4px;
    border: none;
    margin: 0 3px;
    opacity: 0.5;
}
ul.slick-dots li.slick-active button {
    opacity: 1;
}
ul.slick-dots {
    position: absolute;
    display: flex;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}